/* css to style the admin menu nicely */

#adminmenu .mf-menu-edit-posts div.wp-menu-image,
#adminmenu .mf-menu-edit-pages div.wp-menu-image  {
    background:transparent url('../../../../wp-admin/images/menu.png') no-repeat scroll -272px -33px;
}
#adminmenu .mf-menu-edit-posts:hover div.wp-menu-image {
	background-position: -272px -1px;
}

#adminmenu .mf-menu-edit-pages div.wp-menu-image {
    background-position: -151px -33px;
}
#adminmenu .mf-menu-edit-pages:hover div.wp-menu-image {
	background-position: -151px -1px;
}
.mf-field label.error{
	height:15px;
	margin-top:-5px;
	padding-top:5px;
}
.Checkbox .block { display: block; }
.mf-field label.error
	{ display: none; }