.mf_toolbox {
    text-align: right;
}

.mf_duplicate_group{
    border-style:solid;
    border-width:1px;
    margin-bottom:8px;
    border-color:#DFDFDF;
}
.row_mf { float:left;}
.add_mf{float:right;}
.mf_counter{ display:inline;}
.magicfield_group th { width: 30%;}
		
.magicfields{
    display: block;
	margin-left: auto;
	margin-right: auto ;
}
	
.photo_edit_link{
	clear:both;
	margin: 0px 0px 0px 0px;
	width:150px;
	text-align:center;
}

.magicfields{
	display: block;
	margin-left: auto;
	margin-right: auto ;
}

.photo_edit_link{
	clear:both;
	margin: 0px 0px 0px 0px;
	width:150px;
	text-align:center;
}

.error_msg_txt{
	font-weight: bold;
	overflow: auto;
}

.duplicate_image{
	vertical-align:middle;
	padding-right:3px;
}


.mf-checkbox-list {
  overflow: hidden;
  zoom: 100%;
}

.mf-field label {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	cursor: default;
}

.mf-field label .name {
  float: left;
  margin-top: 1px;
}

.mf-field small.tip {
  color: #5d8eb6;
  margin-left: 10px;
  padding-left: 20px;
  background: url(../images/small-tip.png) no-repeat;
  float: left;
  line-height: 16px;
  cursor: default;
  font-size: 10px;
  font-weight: normal;
}

.mf-field small.tip span {
  position: absolute;
  left: -9999px;
  top: -9999px;
  height: 0;
  width: 0;
}


.mf-field label .name em {
  font-style: normal;
  color: #666;
  font-weight: normal;
}
.mf-field label .remaining {
	float: left;
	line-height: 16px;
	margin-left: 10px;
	color: #999;
	}
.mf-field label .charsRemaining {
	right: 10px;
	color: #666;
	}
	.mf-field label .charsRemaining.extreme {
		color: #F00;
		}

.textboxinterface{
	/*width: 100%; */
}

/**
 * Css for the Editor
 */
.tab_multi_mf {
    padding-bottom:30px;
	display: block;
	margin-right:10px;
}

.edButtonHTML_mf {
    background-color:#F1F1F1;
	border-color:#DFDFDF;
	color:#999999;
	margin-right:15px;
	border-style:solid;
	border-style:solid;
    border-width:1px;
    cursor:pointer;
    display:block;
    float:left;
    height:18px;
    margin:5px 5px 0 0;
    padding:4px 5px 2px;
}

.edButtonPreview_mf {
    background-color:#F1F1F1;
	border-color:#DFDFDF;
	color:#999999;
	margin-right:15px;
	border-style:solid;
	border-style:solid;
    border-width:1px;
    cursor:pointer;
    display:block;
    float:right;
    height:18px;
    margin:5px 5px 0 0;
    padding:4px 5px 2px;
}
/**  css for the editor **/

.checkbox_mf {
  margin-left: 10px;
}

#wpcontent select.listbox_mf {
  min-width: 200px;
}

.datepicker_mf{
  margin-left: 15%;
  float:left;
}
  
/*test */
.mf-field small.tip {
	position: relative;
}

.mf-upload-success,
.mf-upload-error {
  background-repeat: no-repeat;
  display: block;
  padding-left: 20px;
  display: block;
  line-height: 16px;
}

.mf-upload-success {
  color: #11A122;
  background-image: url(../images/mf-upload-success.png); 
}

.mf-upload-error {
  color: #9E1111; 
  background-image: url(../images/mf-upload-error.png); 
}

.mf-audio-val-actions {
  overflow: hidden;
  zoom: 100%;
} 

.slider_numeber_show {
	margin-top: -16px;
	padding-left: 3px;
}

/* Traversal patches for a cleaner UI */

.write_panel_wrapper .checkbox_list_mf {
  margin-left: 4px;
}

.write_panel_wrapper .mf_custom_field input {
  margin-bottom: 4px;
}

.write_panel_wrapper .mf_custom_field input.textboxinterface {
  float: left;
}

#poststuff .magicfield_group .inside {
  margin: 0;
}

.write_panel_wrapper {
  border: 1px solid #eaeaea;
  background: url(../images/mf-field.png) repeat-x #f8f8f8;
}

.write_panel_wrapper .mf_custom_field br {
  line-height: 0;
  height: 0;
  font-size: 0;
  display: none;
}

.write_panel_wrapper .mf-field {
  padding: 0px 7px 8px 7px;
  /*margin-top: 8px;*/
  border-top: 1px solid #eaeaea;
  background: url(../images/mf-field.png) repeat-x;
  padding-bottom: 6px;
}

.write_panel_wrapper .mf-field.focused {
  background: #f0f7fd !important;
}

.write_panel_wrapper input[type=text],
.write_panel_wrapper textarea,
.write_panel_wrapper select {
  outline: none;
}

.write_panel_wrapper .mf-field.focused input[type=text]:focus,
.write_panel_wrapper .mf-field.focused textarea:focus,
.write_panel_wrapper .mf-field.focused select:focus,
.write_panel_wrapper .mf-field.focused table.mceLayout {
  border-color: #a4c0d9;
}



.write_panel_wrapper .mf-field-duplicate {
  background-image: none;
  border-top: none;
  padding-top: 0px;
}

.write_panel_wrapper .inside .mf-field:first-child {
  border-top: none;
  background: none;
}

.write_panel_wrapper .mf-field input.textboxinterface {
  background: #fff;
  /*width: 99%; */
}

.write_panel_wrapper .mf-field label {
  margin-bottom: 8px;
  margin-left: 3px;
  margin-top: 0;
  font-size: 12px;
  
}



.write_panel_wrapper .mf_duplicate_group {
  border: 1px solid #bbb; /*#a7c1d9;*/
  border: 1px solid #a7c1d9;
  margin-bottom: 0;
}

.write_panel_wrapper .mf_duplicate_group:hover .mf_toolbox {
  background-color: #FAFAFA;
  border-top-color: #F2F2F2; 
} 

.write_panel_wrapper .magicfield_group {
  position: relative;
}

.write_panel_wrapper label.mf-checkbox-list,
.write_panel_wrapper .mf-t-radiobutton-list label.selectit {
  margin: 0px 0px 2px 0px;
  font-weight: normal;
  font-size: 11px;
  cursor: pointer;
}

.write_panel_wrapper .mf-t-radiobutton-list .mf_custom_field {
  padding-left: 2px;
  overflow: hidden;
  zoom: 100%;
}

.write_panel_wrapper label.mf-checkbox-list input
.write_panel_wrapper input.checkbox_list_mf {
  height: 14px;
  width: 14px;
  margin-right: 0;
}

.write_panel_wrapper input.checkbox_mf {
  height: 14px;
  width: 14px;
  margin-right: 0;
  margin-left: 2px;
  
}

.write_panel_wrapper a.typeHandler,
.write_panel_wrapper a.delete_duplicate_field {
  text-decoration: none;
  padding-left: 2px;
  line-height: 16px;
  font-weight: bold;
  float: left;
}


.write_panel_wrapper a.typeHandler img {
  margin-top: -3px;
  padding: 0;
  margin-right: 4px;
}



.write_panel_wrapper .mf_toolbox {
  height: 22px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  background: #F3F3F3;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  cursor: move;
}

.write_panel_wrapper a.delete_duplicate_button,
.write_panel_wrapper a.duplicate_button,
.write_panel_wrapper a.delete_duplicate_field,
.write_panel_wrapper a.duplicate_field,
.write_panel_wrapper a.collapse_button {
  color: #999;
  text-decoration: none;
  line-height: 16px;
  font-weight: normal;
  padding-left: 19px;
  background-repeat: no-repeat;
  display: block;
  font-size: 10px;
  cursor: pointer;
}

.write_panel_wrapper a.collapse_button {
  color: #5686B2;
}

.write_panel_wrapper .delete_duplicate_field,
.write_panel_wrapper .duplicate_field {
  margin-left: 2px;
  margin-top: 2px;
}

.write_panel_wrapper .mf-duplicate-controls {
  overflow: hidden;
  zoom: 100%;
  clear: left;
  padding-top: 3px;
}

.write_panel_wrapper .ui-slider-2 {
  margin: 20px 10px;
}


.write_panel_wrapper .duplicate_button {
  background-image: url(../images/mf-toolbox-duplicate-button.png);
  padding-left: 19px;
  float: left;
}

.write_panel_wrapper .duplicate_field {
  background-image: url(../images/duplicate-field.png);
  padding-left: 16px !important;
  line-height: 14px !important;
  float: left;
}

.write_panel_wrapper .duplicate_button span,
.write_panel_wrapper .duplicate_field span {
  color: #39A944;
}


.write_panel_wrapper .delete_duplicate_button {
  background-image: url(../images/mf-toolbox-delete-duplicate-button.png);
}

.write_panel_wrapper .delete_duplicate_field {
  background-image: url(../images/delete-duplicate-field.png);
  padding-left: 16px !important;
  line-height: 14px !important;
  float: left;
}




.write_panel_wrapper .delete_duplicate_button span,
.write_panel_wrapper .delete_duplicate_field span {
  color: #BB3939;
}



.write_panel_wrapper .duplicate_button:hover,
.write_panel_wrapper .duplicate_field:hover {
  color: #666 !important;
}

.write_panel_wrapper .delete_duplicate_button:hover,
.write_panel_wrapper .delete_duplicate_field:hover {
  color: #666 !important;
}

.write_panel_wrapper .duplicate_button:hover span,
.write_panel_wrapper .duplicate_field:hover span {
  color: #26702d;
}

.write_panel_wrapper .delete_duplicate_button:hover span,
.write_panel_wrapper .delete_duplicate_field:hover span {
  color: #802727;
}


.write_panel_wrapper .image_photo {
  border: 1px solid #EAEAEA;
  background: #FFF;
  width: 158px !important;
  margin-top: 2px;
}

.write_panel_wrapper .image_photo img {
  margin: 4px;
}

.write_panel_wrapper .image_input td {
  padding-bottom: 0 !important;
}

.write_panel_wrapper .image_input td label {
  font-weight: normal;
  padding-top: 6px;
  padding-right: 4px;
}

.write_panel_wrapper .photo_edit_link {
  line-height: 18px;
  border-top: 1px solid #EAEAEA;
  width: 158px;
}

.write_panel_wrapper .photo_edit_link a {
  text-decoration: none;
  font-weight: bold;
}

.write_panel_wrapper .mf_counter {
  line-height: 15px;
  padding-right: 2px;
}

.write_panel_wrapper .listbox_mf {
  margin-left: 0;
  /*width: 96%; */
}

.write_panel_wrapper .tab_multi_mf {
  overflow: hidden;
  padding-bottom: 3px;
}

.write_panel_wrapper .error_magicfields {
  color: #cc0000;
}

.write_panel_wrapper label.error_magicfields,
#mf-publish-errors {
  margin-left: 4px;
  margin-top: 2px;
  overflow: hidden;
  zoom: 100%;
  color: red;
  padding: 0px 6px 0px 24px;
  line-height: 20px;
  font-size: 10px;
  height: auto;
  display: block;
  background: #FFFFCC url(../images/error-magicfields.png) no-repeat 4px 1px;
  float: left;
  border: 1px solid #DCCD4D;
}

#mf-publish-errors {
  float: none;
  margin-left: 0;
  margin-top: 6px;
  line-height: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 28px;
  background-position: 6px 4px; 
}

.mf-group-controls {
  padding: 6px 10px 6px 6px;
  background: #f3f3f3;
  border-bottom: 1px solid #EAEAEA;
  line-height: 16px;
  overflow: hidden;
  zoom: 100%;
}

.mf-group-controls .buttons {
  float: right;
}

.mf-group-controls a {
  display: block;
  float: left;
  line-height: 16px;
  background-repeat: no-repeat;
  margin-right: 0px;
  padding-left: 18px;
  text-decoration: none;
  color: #5686B2;
}

.mf-group-controls a:hover {
  color: #d54E21;
}

.mf-group-controls a.mf-collapse-all-button {
  background-image: url(../images/mf-collapse-all-button.png);
}

.mf-group-controls a.mf-expand-all-button {
  background-image: url(../images/mf-expand-all-button.png);
  margin-right: 18px;
}

.mf-group-controls a.mf-expand-all-button.disabled {
  background-image: url(../images/mf-expand-all-button-disabled.png);
  color: #AFC8DD;
  cursor: default;
}

.mf-group-controls a.mf-collapse-all-button.disabled {
  background-image: url(../images/mf-collapse-all-button-disabled.png);
  color: #AFC8DD;
  cursor: default;
}

.mf-group-controls .mf-group-count {
  float: left;
  color: #666;
  padding-left: 2px;
}
 
.mf-group-controls.hl {
  background: url(../images/small-tip.png) no-repeat 6px 6px;
  padding-left: 24px;
}
 
.mf-group-save-warning {
  display: none;
  background: #ffffee url(../images/mf-group-save-warning.png) no-repeat 6px 5px;
  padding: 8px 10px 8px 28px;
  border-bottom: 1px solid #EAEAEA;
}

.write_panel_wrapper .Multiline_Textbox table.mceLayout {
  border: 1px solid #dfdfdf;
  -moz-border-top-right-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  clear: left;
}

.write_panel_wrapper .tab_multi_mf {
  float: left;
}

.write_panel_wrapper .tab_multi_mf a {
  float: right;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 3px;
}

.write_panel_wrapper .tab_multi_mf a.current {
    background-color: #A5BFD6;
    color: #FFF !important;
    border-color: #8aa6c0;
    font-weight: bold;
}

.write_panel_wrapper .Multiline_Textbox textarea {
  width: 99%;
  padding: 8px;
}

.write_panel_wrapper input.datepicker_mf {
  margin-left: 0;
  background-color: #eeeeee;
  width: 192px;
}

.write_panel_wrapper input.datebotton_mf,
.write_panel_wrapper input.todaybotton_mf {
  font-size: 10px;
  background-color: #ddd;
  cursor: pointer;
  position: relative;
  top: -1px;
}  

.write_panel_wrapper .Radiobutton_List .mf_custom_field {
  overflow: hidden;
  zoom: 100%;
}

.write_panel_wrapper .Radiobutton_List label.selectit,
.write_panel_wrapper .Checkbox_List label.selectit {
  font-weight: normal;
  padding-top: 3px;
}

.write_panel_wrapper .selectit {
  float: left;
  padding-right: 10px;
}

input.button.disabled {
  cursor: default;
} 

/** Post types Form*/

.mf_form  label span{
	color:red;
}

.mf_form label{
	display: block;
}

.mf_form{
	padding:15px;
}

.mf_form .form-field{
	margin-bottom:10px;
}

.mf_form .form-field p{
	color:#666;
	font-style: italic;
	margin-top:0px;
}

.mf_form .form-field input[type="checkbox"]{
	width:20px;
}

.mf_form .form-field .label_checkbox{
	display:inline;
}

.mf_form .sub-options{
	margin-left:10px;
	padding:15px;
	border:1px solid #333;
	background:#eee;
	display:none;
}



/* Dream UI Additions */


.write_panel_wrapper .mf_duplicate_group {
  border-bottom-color: #d4d4d4;
  border-top-color: #FFF;
  border-left-color: #FFF;
  border-right: none;
  
}

.mf-group-summary {
  cursor: pointer;
  background-color: #fbfbfb;
	width: 100%;
	height: auto;
	max-height: 114px;
}



.mf-group-summary .jspPane:hover,
.mf-group-summary table:hover,
.mf_duplicate_group:hover .mf-group-summary table,
.mf_duplicate_group:hover .mf-group-summary .jspPane,
.mf_duplicate_group:hover .mf-group-summary table td,
.mf_duplicate_group:hover .mf-group-summary .jspPane td,
.mf_duplicate_group:hover .mf-group-summary table th,
.mf_duplicate_group:hover .mf-group-summary .jspPane th {
  background-color: #FFF;
}

.magicfield_group .mf-group-summary table,
.magicfield_group .mf-group-summary .jspPane,
.magicfield_group .mf-group-summary table td,
.magicfield_group .mf-group-summary table th,
.magicfield_group .mf_toolbox {
  -webkit-transition: background-color 0.3s ease; 
  -moz-transition: background-color 0.3s ease; 
}


.mf-group-summary .jspPane:hover td,
.mf-group-summary .jspPane:hover th,
.mf-group-summary table:hover td,
.mf-group-summary table:hover th {
  background-color: #FFF;
}

.mf-group-summary td,
.mf-group-summary th {
  padding: 5px 8px;
  border-left: 1px solid #FFF;
  border-right: 1px solid #DEDEDE;
  vertical-align: top;
  min-width: 80px;
  background-color: #fbfbfb;
}

.mf-group-summary table:hover td,
.mf-group-summary table:hover th {
}

.mf-group-summary td.mf-t-image,
.mf-group-summary th.mf-t-image {
  min-width: 60px;
}

.mf-group-summary thead th {
  text-align: left;
  font-size: 11px;
  white-space: nowrap;
  text-align: left;
  padding-top: 8px;
  color: #333;
}
  
.mf-group-summary table {
  width: 200px;
}

.mf-group-summary th {
  background-repeat: no-repeat;
  background-position: 7px 5px;
  padding-left: 28px;
  white-space: nowrap;
}

.mf-group-summary th em {
  font-weight: normal;
  font-style: normal;
  color: #666;
}

.mf-group-summary td:last-child,
.mf-group-summary th:last-child {
  border-right: none;
}

.mf-group-summary td:first-child,
.mf-group-summary th:first-child {
  border-left: none;
}

.mf-group-summary tbody td {
  font-size: 11px;
  line-height: 1.4em;
  padding-bottom: 20px;
  height: 54px;
} 

.mf-group-summary tbody td.none,
.mf-group-summary thead th.none,
.mf-group-summary.last-none {
  background-color: #f5f5f5;
} 

.mf-group-summary tbody td.none,
.mf-group-summary thead th.none {
  color: #999;
}

.mf-group-summary th.mf-t-checkbox,
.mf-group-summary th.mf-t-checkbox-checked,
.mf-group-summary th.mf-t-radio,
.mf-group-summary th.mf-t-radio-checked {
  background-position: 4px 5px;
  padding-left: 22px;
}


.mf-group-summary th.mf-t-audio {
  background-image: url(../images/mf-t-audio.png);
}

.mf-group-summary th.mf-t-checkbox {
  background-image: url(../images/mf-t-checkbox.png);
}

.mf-group-summary th.mf-t-checkbox-checked {
  background-image: url(../images/mf-t-checkbox-checked.png);
}

.mf-group-summary th.mf-t-checkbox-list {
  background-image: url(../images/mf-t-checkbox-list.png);
}

.mf-group-summary th.mf-t-color-picker {
  background-image: url(../images/mf-t-color-picker.png);
}

.mf-group-summary th.mf-t-date {
  background-image: url(../images/mf-t-date.png);
}

.mf-group-summary th.mf-t-date-selected {
  background-image: url(../images/mf-t-date-selected.png);
}

.mf-group-summary th.mf-t-file {
  background-image: url(../images/mf-t-file.png);
}

.mf-group-summary th.mf-t-image {
  background-image: url(../images/mf-t-image.png);
}

.mf-group-summary th.mf-t-image- {
  background-image: url(../images/mf-t-image.png);
}

.mf-group-summary th.mf-t-listbox {
  background-image: url(../images/mf-t-listbox.png);
}

.mf-group-summary th.mf-t-dropdown-list {
  background-image: url(../images/mf-t-dropdown-list.png);
}

.mf-group-summary th.mf-t-markdown-textbox {
  background-image: url(../images/mf-t-markdown-textbox.png);
}

.mf-group-summary th.mf-t-multiline-textbox {
  background-image: url(../images/mf-t-multiline-textbox.png);
}

.mf-group-summary th.mf-t-radiobutton-list {
  background-image: url(../images/mf-t-radiobutton-list.png);
}

.mf-group-summary th.mf-t-related-type {
  background-image: url(../images/mf-t-related-type.png);
}

.mf-group-summary th.mf-t-slider {
  background-image: url(../images/mf-t-slider.png);
}

.mf-group-summary th.mf-t-textbox {
  background-image: url(../images/mf-t-textbox.png);
}

.mf-group-summary table:hover th.mf-t-audio,
.mf-group-summary .jspPane:hover th.mf-t-audio {
  background-image: url(../images/hover-mf-t-audio.png);
}

.mf-group-summary table:hover th.mf-t-checkbox,
.mf-group-summary .jspPane:hover th.mf-t-checkbox {
  background-image: url(../images/hover-mf-t-checkbox.png);
}

.mf-group-summary table:hover th.mf-t-checkbox-checked,
.mf-group-summary .jspPane:hover th.mf-t-checkbox-checked {
  background-image: url(../images/hover-mf-t-checkbox-checked.png);
}

.mf-group-summary table:hover th.mf-t-checkbox-list,
.mf-group-summary .jspPane:hover th.mf-t-checkbox-list {
  background-image: url(../images/hover-mf-t-checkbox-list.png);
}

.mf-group-summary table:hover th.mf-t-color-picker,
.mf-group-summary .jspPane:hover th.mf-t-color-picker {
  background-image: url(../images/hover-mf-t-color-picker.png);
}

.mf-group-summary table:hover th.mf-t-date,
.mf-group-summary .jspPane:hover th.mf-t-date {
  background-image: url(../images/hover-mf-t-date.png);
}

.mf-group-summary table:hover th.mf-t-date-selected,
.mf-group-summary .jspPane:hover th.mf-t-date-selected {
  background-image: url(../images/hover-mf-t-date-selected.png);
}

.mf-group-summary table:hover th.mf-t-file,
.mf-group-summary .jspPane:hover th.mf-t-file {
  background-image: url(../images/hover-mf-t-file.png);
}

.mf-group-summary table:hover th.mf-t-image,
.mf-group-summary .jspPane:hover th.mf-t-image {
  background-image: url(../images/hover-mf-t-image.png);
}

.mf-group-summary table:hover th.mf-t-image-,
.mf-group-summary .jspPane:hover th.mf-t-image- {
  background-image: url(../images/hover-mf-t-image.png);
}

.mf-group-summary table:hover th.mf-t-listbox,
.mf-group-summary .jspPane:hover th.mf-t-listbox {
  background-image: url(../images/hover-mf-t-listbox.png);
}

.mf-group-summary table:hover th.mf-t-dropdown-list,
.mf-group-summary .jspPane:hover th.mf-t-dropdown-list {
  background-image: url(../images/hover-mf-t-dropdown-list.png);
}

.mf-group-summary table:hover th.mf-t-markdown-textbox,
.mf-group-summary .jspPane:hover th.mf-t-markdown-textbox {
  background-image: url(../images/hover-mf-t-markdown-textbox.png);
}

.mf-group-summary table:hover th.mf-t-multiline-textbox,
.mf-group-summary .jspPane:hover th.mf-t-multiline-textbox {
  background-image: url(../images/hover-mf-t-multiline-textbox.png);
}

.mf-group-summary table:hover th.mf-t-radiobutton-list,
.mf-group-summary .jspPane:hover th.mf-t-radiobutton-list {
  background-image: url(../images/hover-mf-t-radiobutton-list.png);
}

.mf-group-summary table:hover th.mf-t-related-type,
.mf-group-summary .jspPane:hover th.mf-t-related-type {
  background-image: url(../images/hover-mf-t-related-type.png);
}

.mf-group-summary table:hover th.mf-t-slider,
.mf-group-summary .jspPane:hover th.mf-t-slider {
  background-image: url(../images/hover-mf-t-slider.png);
}

.mf-group-summary table:hover th.mf-t-textbox,
.mf-group-summary .jspPane:hover th.mf-t-textbox {
  background-image: url(../images/hover-mf-t-textbox.png);
}


.mf-group-summary td.mf-t-image img {
  margin-top: 2px;
  display: block;
  border: 1px solid #FFF;
  outline: 1px solid #ccc;
}

.mf-group-loading {
  background: url(../images/spinner.gif) no-repeat 6px 6px;
  line-height: 16px;
  padding: 6px;
  padding-left: 26px;
}

.mf-group-summary .mf-t-image {
  width: 10px;
  max-width: 200px;
}

.mf-group-summary table td.mf-t-textbox,
.mf-group-summary table th.mf-t-textbox {
  min-width: 140px;
}

.mf-group-summary .mf-t-multiline-textbox,
.mf-group-summary .mf-t-markdown-textbox {
  min-width: 300px;
}

.mf-group-summary .mf-t-multiline-textbox.none,
.mf-group-summary .mf-t-markdown-textbox.none {
  min-width: 80px;
}


/* -- Toolbox Modifications -- */


.write_panel_wrapper .mf_toolbox {
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  height: 21px;
}

.write_panel_wrapper .mf_toolbox .hndle {
  background: url(../images/mf-toolbox-hndle.png) no-repeat 1px 3px;
  width: 12px;
  height: 16px;
  display: block;
}

.write_panel_wrapper .magicfield_group .mf-fields {
  display: none;
}

.write_panel_wrapper .mf-group-expanded .mf-fields {
  display: block;
}

.write_panel_wrapper .mf-group-expanded .mf-group-loading {
  display: none;
}

.write_panel_wrapper .mf_toolbox_controls {
  float: right;
  overflow: hidden;
  zoom: 100%;
  padding-right: 4px;
}

.write_panel_wrapper .mf_toolbox_controls a {
  font-size: 10px;
}

.write_panel_wrapper .mf_toolbox_controls a,
.write_panel_wrapper .mf_counter {
  float: left;
  background-repeat: no-repeat;
  display: block;
}

.write_panel_wrapper .mf_toolbox_controls a:hover {
  color: #d54E21;
}

.write_panel_wrapper .mf-field-title {
  overflow: hidden;
  zoom: 100%;
  padding-top: 10px;
}

.write_panel_wrapper .mf-field-title .duplicate_field,
.write_panel_wrapper .mf-field-title .delete_duplicate_field {
  float: left;
}

.write_panel_wrapper .mf-field label {
  float: left;
}



.write_panel_wrapper .delete_duplicate_button {
  margin-left: 14px;
}

.write_panel_wrapper a.collapse_button {
  background-image: url(../images/mf-toolbox-collapse-button.png);
  background-repeat: no-repeat;
  background-color: #FFF;
  background-position: 4px 4px;
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 4px 6px 4px 22px;
  margin-left: 14px;
  display: none; 
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

.write_panel_wrapper .mf_duplicate_group a.collapse_button {
  top: 0px;
}

.write_panel_wrapper .mf_counter {
  background-image: url(../images/mf-toolbox-mf-counter.png);
  color: #FFF;
  font-weight: bold;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 9px;
  line-height: 16px;
  cursor: move;
}

.mf-t-multiline-textbox .mf-duplicate-controls,
.mf-t-image .mf-duplicate-controls,
.mf-t-audio .mf-duplicate-controls,
.mf-t-file .mf-duplicate-controls {
  padding-top: 3px;
}

.mf-t-multiline-textbox textarea {
  font-family: "consolas", "lucida console", "andale mono", monospace;
}

#poststuff .inside p.error_msg_txt {
  margin-left: 4px;
}

#_seven_color_selecter {
  z-index: 50;
}

.ui-datepicker,
.ui-datepicker .ui-datepicker-title select,
.ui-datepicker .ui-datepicker-month,
.ui-datepicker td,
.ui-datepicker th {
  font-size: 11px !important;
}

.ui-datepicker-year {
  line-height: 12px !important;
}

select.ui-datepicker-year option {
  padding: 0 4px;
}

.mf-field .colorpicker_submit,
.mf-field .colorpicker_current_color {
  display: none;
}

.mf-field .colorpicker_new_color {
  width: 130px;
} 

.mf-field input.mf_color_picker {
  border: 1px solid #BFC4CE;
  margin-left: 4px;
  float:left;
}


.mf-field .mf-color-clear {
  float:left;
}

.mf-t-color-picker .mf-color-swatch {
  border: 1px solid #ccc;
  background: #FFF;
  padding: 2px;
  overflow: hidden;
  zoom: 100%;
}

.mf-t-color-picker .mf-color-swatch span {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  border: 1px solid #CCC;
}

.mf-t-color-picker .mf-color-swatch strong {
  float: left;
  margin-left: 10px;
  line-height: 16px;
  font-weight: normal;
  color: #666;
}


.mf-file-links {
  overflow: hidden;
  zoom: 100%;
  padding-bottom: 6px;
}

.mf-file-links a {
  display: block;
  float: left;
  padding-left: 20px;
  text-decoration: none;
  line-height: 16px;
  color: #5686B2;
  background-repeat: no-repeat;
} 

.mf-file-links a.mf-file-delete {
  margin-left: 10px;
}

.mf-file-links a.mf-file-delete {
  background-image: url(../images/mf-file-delete.png);
}

.mf-file-links a.mf-file-view {
  background-image: url(../images/mf-file-view.png);
  margin-left: 2px;
}

.colorpicker input {
  outline: none;
  height: 14px !important;
}


/* -- Tooltips -- */

.tt {
  position: absolute;
  max-width: 550px;
}

.tth,  /* head */
.tthl,
.tthr {
  height: 9px;
  line-height: 0;
  font-size: 0;
}

.tthl {
  padding-left: 10px;
  background: url(../images/tthl.png) no-repeat top left;
}

.tthr {
  padding-right: 10px;
  background: url(../images/tthr.png) no-repeat top right;
}

.tth {
  background: url(../images/tth.png) repeat-x;
}

.ttb, /* body */
.ttbl,
.ttbr {
  zoom: 100%;
  overflow: hidden;
}

.ttbl {
  padding-left: 4px;
  background: url(../images/ttbl.png) repeat-y top left;
}

.ttbr {
  padding-right: 4px;
  background: url(../images/ttbr.png) repeat-y top right;
}

.ttb {
  background: url(../images/ttb.png) repeat-x #FDFCE4;
}

.ttbc {
  padding: 0 10px 2px 10px;
  font-size: 11px;
  color: #33330B;
  line-height: 18px;
}
  
.ttf, /* foot */
.ttfl,
.ttfr {
  height: 16px;
  line-height: 0;
  font-size: 0;
}

.ttfl {
  padding-left: 27px;
  background: url(../images/ttfl.png) no-repeat bottom left;
}

.ttfr {
  padding-right: 10px;
  background: url(../images/ttfr.png) no-repeat bottom right;
}

.ttf {
  background: url(../images/ttf.png) repeat-x;
}


.mf-t-image .image_layout {
  overflow: hidden;
  zoom: 100%;
}

.mf-t-image .image_layout .image_photo {
  width: 150px;
  float: left;
  margin-right: 14px;
}

.mf-t-image .image_layout .image_wrap {
  min-height: 78px;
  
}

.mf-t-image .image_layout .image_input {
  float: left;
  margin-top: 10px;
  /*width: 520px;*/
}


/* Extra related type styling */

.mf-t-related-type select optgroup { 
  font-style: normal;
  font-weight: normal;
  color: #999;
}

.mf-t-related-type select optgroup option {
  color: #000;
}


.mf-audio-value-actions .actions-audio,
.mf-audio-value-actions .mf-audio-value {
  float: left;
}

.mf-audio-value-actions .actions-audio {
  margin-left: 8px;
  margin-top: 4px;
  overflow: hidden;
  zoom: 100%;
}

.mf-audio-value object,
.mf-audio-value embed {
  margin-bottom: 6px;
}


.write_panel_wrapper .remove-audio {
  background: url(../images/mf-file-delete.png) no-repeat;
  padding-left: 16px;
  line-height: 16px;
  display: block;
  float: left;
  text-decoration: none;
  color: #BB3939;
}

.write_panel_wrapper .mf-file-delete {
  color: #BB3939;
  padding-left: 16px;
}
 
/* valums (ajax) file uploader */


.mf_custom_field input.mf-upload-url {
  width: 300px;
}

.ajax-uploader {
  overflow: hidden;
  zoom: 100%;
  margin-top: 2px;
  margin-bottom: 4px;
  padding: 0px 2px 8px 2px;
  position: relative; 
  width: 100%;
  clear: left;
}

.ajax-uploader .ajax-upload-button {
  float: left;
  cursor: pointer !important;
  height: 14px;
  line-height: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.ajax-upload-drop-area {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 98%; 
    height: 22px; 
    z-index: 2;
    border: 1px solid #BBBBBB;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-align: left;
    color: #999;
    font-size: 11px;
    background: #FFFFFF url(../images/ajax-upload-drop-area.png) no-repeat 4px 3px; 
}

.ajax-upload-failed-text {
  background: url(../images/exclaim-small.png) no-repeat;
  padding-left: 16px;
  color: #BB3939;
}

.ajax-upload-drop-area span {
  display: block;
  padding-left: 22px;
  line-height: 22px;
}

.ajax-upload-drop-area-active {
  background-color: #EEE;
}

.ajax-upload-list {
  float: left;
  padding: 0; 
  list-style-type: none;
}

.ajax-upload-list li { 
  margin: 0; 
  padding: 0 7px 0 0; 
  line-height: 21px; 
  font-size: 11px;
  
}

.ajax-upload-file, 
.ajax-upload-spinner,
.ajax-upload-size,
.ajax-upload-cancel,
.ajax-upload-failed-text {
    margin-right: 7px;
}



.ajax-upload-file {}

.ajax-upload-spinner {
  display:inline-block; 
  background: url("../images/spinner.gif"); 
  width:16px; height:16px; 
  vertical-align:text-bottom;
}

.ajax-upload-size,
.ajax-upload-cancel {
  font-size: 11px;
}

.ajax-upload-size {
  color: #999;
}

.ajax-upload-failed-text {
  display:none;
}

.ajax-upload-fail .ajax-upload-failed-text {
  display:inline;
}

.mf_clear {
  clear:both;
}

